@main: #8A3BFC;

.sec__title {
	text-align: center;
	font-size: 3.6rem;
	&.color {
		color: @main;
	}
}

.sec__desc {
	font-size: 2.4rem;
	text-align: center;
	margin-top: 2rem;
	color: @main;
}

@import "_trailer.less";
@import "_keys__1.less";
@import "_keys__2.less";