.hero {
  padding-top: 13rem;
  padding-bottom: 13rem;
  background-color: #fff;
}
.hero__content {
  display: grid;
  grid-template-columns: 5fr 7fr;
  grid-gap: 3rem;
}
.hero__img {
  position: relative;
}
.hero__img__parallaxscene {
  width: 80rem;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: -25rem;
}
.hero__img__parallaxscene img {
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
.hero__title {
  font-size: 6.3rem;
}
.hero__subtitle {
  font-size: 2.6rem;
  margin-top: 2rem;
}
.hero__desc {
  margin-top: 2rem;
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 300;
}
.hero__preims {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  margin-top: 4rem;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  gap: 3rem;
}
.hero__preim {
  max-width: 20rem;
}
.hero__preim__icon {
  height: 8rem;
  width: auto;
}
.hero__preim__title {
  font-size: 1.6rem;
  font-weight: 300;
  margin-top: 2rem;
}
.hero__btn {
  margin-top: 6rem;
}
@media screen and (max-width: 1000px) {
  .hero__content {
    grid-template-columns: 4fr 7fr;
  }
}
