.keys__3 {
  padding-top: 28rem;
  padding-bottom: 12rem;
}
.keys__3__main {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 5fr 7fr;
  grid-gap: 3rem;
}
.keys__3__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2.4rem;
}
.keys__3__item {
  background-color: #fff;
  border-radius: 1rem;
  padding: 2.4rem;
  box-shadow: 0px 10px 20px rgba(173, 173, 173, 0.05);
}
.keys__3__item__title {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.4;
}
.keys__3__item__desc {
  font-size: 1.4rem;
  font-weight: 300;
  margin-top: 1rem;
  line-height: 1.4;
}
.keys__3__img {
  position: relative;
}
.keys__3__paralax__wrapper {
  position: absolute;
  right: 0;
  top: 0;
  width: 85rem;
}
.keys__3__paralax img {
  max-width: 85rem;
}
.keys__3__btn {
  margin: 0 auto;
  margin-top: 4rem;
}
